
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block top_heading %}
    <h1 class="h3 mb-0 text-gray-900">Dashboard</h1>
{% endblock %}
{% block content %}

    <!-- Content Row -->
    <div class="row mr-5 ml-2 mt-3">

        <!-- Session Completed Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Completed Sessions</div>
                           


                            {% if request.user.student and request.user.tutor %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Student : {{ student.booked_slots|length }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Tutor : {{ tutor.booked_slots|length }}</div>
                            {% elif request.user.student %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ student.booked_slots|length }}</div>
                            {% else %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tutor.booked_slots|length }}</div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-award fa-2x "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Session Upcoming Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Upcoming Sessions</div>
                            

                            {% if request.user.student and request.user.tutor %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Student : {{ upsessions|length }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Tutor : {{ uptutsessions|length }}</div>
                            {% elif request.user.student %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ upsessions|length }}</div>
                            {% else %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ uptutsessions|length }}</div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Today's Sessions Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Today's Sessions</div>
                            

                            {% if request.user.student and request.user.tutor %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Student : {{ tsessions|length }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Tutor : {{ ttutsessions|length }}</div>
                            {% elif request.user.student %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ tsessions|length }}</div>
                            {% else %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ ttutsessions|length }}</div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
        {% if request.user.student %}
            <div class="container-fluid card border-left-primary shadow py-2 mr-5 ml-2 mt-3">
                <h5 class="m-0 font-weight-bold text-primary text-uppercase"> Today's sessions: </h5>
                <hr class="sidebar-divider">
                <div id="card-container" class="row row-cols-1 row-cols-md-2 overflow-auto text-gray-800" style="max-height: 180px;">
                    {% for session in tsessions %}

                        <div class="col mb-1">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-6">
                                        <div class="card-body text-gray-800">
                                            <div class="h6">
                                                <i class="fas fa-archive"></i>
                                                : {{ session.semester }}
                                            </div>
                                            <div class="h6">
                                                <i class="fas fa-calendar"></i>
                                                : {{ session.date }}
                                            </div>
                                            <div class="h6">
                                                <i class="fas fa-user-alt"></i>
                                                : {{ session.tutor }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <div class="h6">
                                                <i class="fas fa-clock"></i>
                                                : {{ session.get_timeblock_display }}
                                            </div>
                                            <div class="h6">
                                                <i class="fas fa-book"></i>
                                                : {{ session.course }}
                                            </div>
                                            <div class="h6">
                                                <i class="fas fa-user-clock"></i>
                                                :  1 hr
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No sessions today.</p>
                    {% endfor %}
                </div>
            </div>

            <div class="container-fluid card border-left-primary shadow py-2 mr-5 ml-2 mt-3" >
                <h5 class="m-0 font-weight-bold text-primary text-uppercase"> Upcoming sessions: </h5>
                <hr class="sidebar-divider">
                <div id="card-container" class="row row-cols-1 row-cols-md-2 overflow-auto" style="max-height: 180px;">
                    {% for session in upsessions %}
                            <div class="col mb-1">
                                <div class="card">
                                    <div class="row g-0">
                                        <div class="col-md-6">
                                            <div class="card-body text-gray-800">
                                                <div class="h6">
                                                    <i class="fas fa-archive"></i>
                                                    : {{ session.semester }}
                                                </div>
                                                <div class="h6">
                                                    <i class="fas fa-calendar "></i>
                                                    : {{ session.date }}
                                                </div>
                                                <div class="h6">
                                                    <i class="fas fa-user-alt"></i>
                                                    : {{ session.tutor }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body text-gray-800">
                                                <div class="h6">
                                                    <i class="fas fa-clock"></i>
                                                    : {{ session.get_timeblock_display }}
                                                </div>
                                                <div class="h6">
                                                    <i class="fas fa-book"></i>
                                                    : {{ session.course }}
                                                </div>
                                                <div class="h6">
                                                    <i class="fas fa-user-clock"></i>
                                                    :  1 hr
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary " onclick="cancelSession({{ session.id }})">Cancel session</a>
                                </div>
                            </div>                    
                        {% empty %}
                        <p>No upcoming sessions found.</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if request.user.tutor %}


        <div class="container-fluid card border-left-primary shadow py-2 mr-5 ml-2 mt-3">
            <h5 class="m-0 font-weight-bold text-primary text-uppercase"> Today's Tutoring sessions: </h5>
            <hr class="sidebar-divider">
            <div id="card-container" class="row row-cols-1 row-cols-md-2 overflow-auto mr-5 ml-2 mt-3" >
                {% for session in ttutsessions %}
                    <div class="col mb-1">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="card-body text-gray-800">
                                        <div class="h6">
                                            <i class="fas fa-archive"></i>
                                            : {{ session.semester }}
                                        </div>
                                        <div class="h6">
                                            <i class="fas fa-calendar"></i>
                                            : {{ session.date }}
                                        </div>
                                        <div class="h6">
                                            <i class="fas fa-user-alt"></i>
                                            : {{ session.booked_by }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body text-gray-800">
                                        <div class="h6">
                                            <i class="fas fa-clock"></i>
                                            : {{ session.get_timeblock_display }}
                                        </div>
                                        <div class="h6">
                                            <i class="fas fa-book"></i>
                                            : {{ session.course }}
                                        </div>
                                        <div class="h6">
                                            <i class="fas fa-user-clock"></i>
                                            : 1 hr
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                    {% empty %}
                    <p>No sessions today.</p>
                {% endfor %}
            </div>
        </div>

        <div class="container-fluid card border-left-primary shadow py-2 mr-5 ml-2 mt-3">
            <h5 class="m-0 font-weight-bold text-primary text-uppercase"> Upcoming tutoring sessions: </h5>
            <hr class="sidebar-divider">
            <div id="card-container" class="row row-cols-1 row-cols-md-2 overflow-auto" style="max-height: 180px;">
                {% for session in uptutsessions %}
                    <div class="col mb-2">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="card-body text-gray-800">
                                        <div class="h6">
                                            <i class="fas fa-archive"></i>
                                            : {{ session.semester }}
                                        </div>
                                        <div class="h6">
                                            <i class="fas fa-calendar"></i>
                                            : {{ session.date }}
                                        </div>
                                        <div class="h6">
                                            <i class="fas fa-user-alt"></i>
                                            : {{ session.booked_by }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body text-gray-800">
                                        <div class="h6">
                                            <i class="fas fa-clock"></i>
                                            : {{ session.get_timeblock_display }}
                                        </div>
                                        <div class="h6">
                                            <i class="fas fa-book"></i>
                                            : {{ session.course }}
                                        </div>
                                        <div class="h6">
                                            <i class="fas fa-user-clock"></i>
                                            : 1 hr
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary " onclick="cancelSession({{ session.id }})">Cancel session</a>
                        </div>
                    </div>
                    {% empty %}
                    <p>No upcoming tutoring sessions found.</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endif %}
    <script>
        function cancelSession(sessionId) {
            if (confirm("Are you sure you want to cancel this session?")) {
                $.ajax({
                    url: "/cancel-session/",
                    type: "POST",
                    data: {
                        session_id: sessionId,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: "json",
                    success: function(response) {
                        if (response.success) {
                            alert("Session cancelled successfully.");
                            window.location.reload();
                        } else {
                            alert("Failed to cancel session: " + response.error);
                        }
                    },
                    error: function(xhr, status, error) {
                        alert("An error occurred while cancelling session: " + error);
                    }
                });
            }
        }
    </script>
{% endblock %}

